- content_for :profile_menu do
  %li
    %i.icon.icon-mis_eventos
    = link_to 'Mis Eventos', "/perfil/eventos"
.view-main
  = render "layouts/nav"
  .view-show
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-subscriber
        .form-subscriber-wraper
          .field-image
            .load-images
              .images
                #upload-img
                  .file.fileUpload
                    = f.file_field :profile , label: false, onChange: 'previewFile4()'
                  %button
                    %i.icon.icon-photo
                    Perfil
              = form_profile_select(current_subscriber)
          = f.input :email, required: true, autofocus: true, label: "Correo Electronico"
          = f.input :dni, required: true, label: "Numero de DNI"
          = f.input :nombres, required: true, label: "Nombres y Apellidos"
          .input.form-select
            %label Seleccione preferencias
            = f.select(:tags, ["tecnologia","innovacion","emprendimiento","investigacion"], {:include_blank => true}, {:multiple => true,  :id =>"selecttwo3",  :data =>{:placeholder => 'Seleccione sus preferencias'} }  )
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password, autocomplete: "off", required: false, label: "Contraseña"
          = f.input :password_confirmation, required: false, label: "Nueva Contraseña"
          = f.input :titulo, required: true, label: "Titulo Profesional"
          = f.input :institucion, required: true, label: "Institución"
          = f.input :empresa, required: true, label: "Empresa"
          = f.input :area, required: true, label: "Area"
          = f.input :cargo, required: true, label: "Cargo que ocupa"
          = f.input :bio, required: true, label: "Biografía"
          = f.input :telefono, required: true, label: "Número de teléfono"
          = f.input :pais, required: true, label: "Pais"
          = f.input :departamento, required: true, label: "Departamento"
          = f.input :provincia, required: true, label: "Provincia"
          = f.input :localizacion, required: true, label: "Localización", placeholder: "Ej: HUANUCO - PERU"
          .input.form-select
            %label Seleccione Sexo
          = f.label :sexo, "Masculino", :value => true
          = f.radio_button :sexo, true

          = f.label :sexo, "Femenino", :value => false
          = f.radio_button :sexo, false
          .input.form-select
            %label Fecha de Nacimiento
          = f.date_field :nacimiento, required: true, label: "Fecha Nacimiento"
          = f.input :facebook, required: true, label: "Facebook" , placeholder: "Añadir link"
          = f.input :twiter, required: true, label: "Twiter", placeholder: "Añadir link"
          = f.input :sitio, required: true, label: "Sitio Web", placeholder: "Añadir link"


          .btn#btn-confirm Guargar Cambios

      .modal#modal-confirm
        .modal-wrap
          .sus-form
            .sus-close
              %i.icon.icon-cancel
            .form-content.form-content-main.form-confirm
              .bg-ingresar.bg-confirm
                %img(src="/assets/confirm-img.jpg" width="80%")
              .fields
                = f.input :current_password, required: true, label: "Contraseña", class: "pass-confirm"
                .form-actions
                  = f.button :submit, "Guargar Cambios" , class: "btn"
                .info-modal Ingrese su contraseña actual para guardar cambios


    %p
      #{link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro de cancelar tu cuenta?" }, method: :delete}
